.form-container {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

button {
    background-color: #008080;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 16px;
}

button:hover {
    background-color: #007070;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 16px;
}

.result-entry {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.result-entry div {
    flex: 1;
    margin-right: 10px;
}

.result-entry div:last-child {
    margin-right: 0;
}
