.participant-list {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.participant-list h2 {
    text-align: center;
    color: #4CAF50;
}

.participant-list div {
    margin-bottom: 1rem;
}

.participant-list ul {
    list-style: none;
    padding: 0;
}

.participant-list li {
    background: #f9f9f9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.participant-list li:nth-child(odd) {
    background: #efefef;
}

.participant-list li a {
    color: #4CAF50;
    text-decoration: none;
}

.participant-list li a:hover {
    text-decoration: underline;
}
